{% extends 'base.html' %}
{% load static %}

{% block body %}

<main class="principal">
  {% if messages %}
    <div class="mensagens">
      {% for message in messages %}
        <br>
        <div class="erro">{{ message }}</div>
      {% endfor %}
    </div>
  {% endif %}
  
  {% if itens_pedido %}
    <!-- Se o carrinho tiver itens, exibe os produtos e valores -->
    <section class="carrinho">
      <div class="sacola">
        <div class="sacola__titulos">
          <h1 class="sacola__titulo">Carrinho</h1>
          <p>Confira seu pedido e finalize no botão ao lado para finalizar a compra</p>
        </div>

        <table class="tabela">
          <tr>
            <th>Produtos</th>
            <th>Valor</th>
            <th>Quantidade</th>
            <th>Total</th>
          </tr>
          {% for item in itens_pedido %}
          <tr>
            <td class="tabela__produto">
              <div class="tabela__imagem">
                <img src="{{ item.item_estoque.produto.imagem.url }}" alt="Imagem do Produto"/>
              </div>
              <div class="tabela__produto-textos">
                <p><b>{{ item.item_estoque.produto.nome }}</b></p>
              </div>
            </td>
            <td class="tabela__preco-unit">
              <p class="tabela__preco">R$ {{ item.item_estoque.produto.preco }}</p>
            </td>
            <td class="tabela__qtd">
              <div class="tabela__quantidade">
                <form method="POST" action="{% url 'remover_carrinho' item.item_estoque.produto.id %}">
                  {% csrf_token %}
                  <button type="submit">-</button>
                </form>
                <span>{{ item.quantidade }}</span>
                <form method="POST" action="{% url 'adicionar_carrinho' item.item_estoque.produto.id %}">
                  {% csrf_token %}
                  <button type="submit">+</button>
                </form>
              </div>
            </td>
            <td>
              <p class="tabela__preco tabela__preco--total">R$ {{ item.preco_total }}</p>
            </td>
          </tr>
          {% endfor %}
        </table>
      </div>
      <div class="subtotal">
        <div class="subtotal__infos">
          <p>Quantidade de Produtos</p>
          <p>{{ pedido.quantidade_total }}</p>
        </div>

        <div class="subtotal__infos subtotal__infos--sborda">
          <p>Total</p>
          <p>R$ {{ pedido.preco_total }}</p>
        </div>
        
        {% if user.is_authenticated %}
          <a href="{% url 'checkout' %}" class="subtotal__botao">Ir ao checkout</a>
        {% else %}
          <a href="{% url 'fazer_login' %}" class="subtotal__botao">Ir ao checkout</a>
        {% endif %}
      </div>
    </section>
  {% else %}
    <!-- Se o carrinho estiver vazio, exibe a mensagem e o link para a loja -->
    <section class="carrinho">
    <div class="sacola">
    <h3>Seu carrinho está vazio</h3>
    <a href="{% url 'loja' %}" class="subtotal__botao">Visite nossa loja</a>
    </div>
    </section>
  {% endif %}
</main>


{% endblock %}