{% extends 'base.html' %}
{% load static %}

{% block body %}


<div class="foto_homepage-section">
    <a href="{% url 'loja' %}">
    <img src="{% static 'images/foto_paginicial.png' %}" alt="foto da pagina inicial">
    </a>
</div>

{% for banner in banners %}
<a href="{% url 'loja' %}{{ banner.link_destino }}">
    <img src="{{banner.imagem.url}}">
</a>
{% endfor %}

<div class="foto_homepage-section">
    <a href="{% url 'listar_avaliacoes' %}">
    <img src="{% static 'images/avaliacoes.png' %}" alt="foto da pagina inicial">
    </a>
</div>

{% endblock %}