{% extends 'base.html' %}
{% load static %}
{% load l10n %}

{% block body %}
<main class="principal principal--padding-b">
    <section class="loja">
      <form class="menu" method="POST" action="">
        {% csrf_token %}
        <div class="menu__cabecalho">
          <div class="menu__titulos">
            <div>
              <img
                class="menu__icone"
                src="{% static 'images/filter-big-1-svgrepo-com.svg' %}"
                alt="Ícone filtrar"
              />
            </div>
            <p class="menu__titulo">Filtrar</p>
          </div>
  
          <p class="menu__fechar-filtro">X</p>
        </div>
  
        <div class="menu__preco">
          <p class="menu__subtitulo">Faixa de Preço</p>
  
          <div class="range_container">
            <div class="sliders_control">
              <input
                id="fromSlider"
                type="range"
                value=0
                min=0
                max=500
              />
              <input
                id="toSlider"
                type="range"
                value={% localize off %}{{ maximo }}{% endlocalize %}
                min=0
                max=400
              />
            </div>
  
            <div class="menu__controles">
              <div class="form_control">
                <div class="form_control_container">
                  <input
                    class="form_control_container__time__input"
                    type="number"
                    id="fromInput"
                    name="preco_minimo"
                    value=0
                    min=0
                    max=400
                  />
                </div>
                <p>até</p>
                <div class="form_control_container">
                  <input
                    class="form_control_container__time__input"
                    type="number"
                    id="toInput"
                    name="preco_maximo"
                    value=400
                    min=0
                    max=400
                  />
                </div>
              </div>
  
              <button type="submit" class="menu__botao">Filtrar</button>
            </div>
          </div>
        </div>
  
        <!-- <div class="menu__expansivel">
          <div class="menu__expansivel-cabecalho menu__expansivel-cabecalho--aberto">
            <p class="menu__subtitulo">Tipo</p>
          </div>
  
          <div class="menu__expansivel-conteudo">
            <div class="menu__categorias">
            {% if request.path == '/loja/' %}
              {% for tipo in tipos_navegacao %}
                <div class="menu__categoria">
                  <div class="menu__categoria-quadrado"></div>
                  <div class="menu__categoria-texto">{{ tipo.nome }}</div>
                  <input
                    class="menu__checkbox"
                    type="radio"
                    name="tipo"
                    value="{{ tipo.slug }}"
                  />
                </div>
              {% endfor %}
            {% elif request.path == '/loja/amigurumi/' %}
                <div class="menu__categoria">
                  <div class="menu__categoria-quadrado"></div>
                  <div class="menu__categoria-texto">Amigurumi Animado</div>
                  <input
                    class="menu__checkbox"
                    type="radio"
                    name="tipo"
                    value="amigurumi+animado"
                  />
                </div>
            {% elif request.path == '/loja/acessorios/' %}
                <div class="menu__categoria">
                  <div class="menu__categoria-quadrado"></div>
                  <div class="menu__categoria-texto">Bolsas</div>
                  <input
                    class="menu__checkbox"
                    type="radio"
                    name="tipo"
                    value="bolsa"
                  />
                </div>
            {% elif request.path == '/loja/moda/' %}
                <div class="menu__categoria">
                  <div class="menu__categoria-quadrado"></div>
                  <div class="menu__categoria-texto">Xales</div>
                  <input
                    class="menu__checkbox"
                    type="radio"
                    name="tipo"
                    value="xale"
                  />
                </div>
            {% elif request.path == '/loja/tapetes/' %}
                <div class="menu__categoria">
                  <div class="menu__categoria-quadrado"></div>
                  <div class="menu__categoria-texto">Tapete</div>
                  <input
                    class="menu__checkbox"
                    type="radio"
                    name="tipo"
                    value="tapete"
                  />
                </div>
              {% endif %}
            </div>
          </div>
        </div> -->
      </form>

      <div class="produtos">
        <div class="produtos__cabecalho">
          <button class="produtos__cabecalho-filtrar">Filtrar</button>

          <div class="produtos__cabecalho-ordenarpor">
            <div class="produtos__cabecalho-imgicone">
              <img
                class="produtos__cabecalho-icone"
                src="{% static 'images/sort-vertical-svgrepo-com.svg' %}"
                alt=""
              />
            </div>
            <p class="produtos__subtitulo">Ordenar por:</p>
            <select class="produtos__select" onchange="redirectToPage()">
              <option value="">Selecione uma opção</option>
              <option class="item-ordenar" value="maior-preco">Maior preço</option>
              <option class="item-ordenar" value="menor-preco">Menor preço</option>
            </select>
          </div>
        </div>

        <div class="produtos__grade">
            {% for produto in produtos %}
            <a
              href="{% url 'ver_produto' produto.id %}"
              class="produto"
            >
              <div class="produto__imagem">
                <img
                  src="{{ produto.imagem.url }}"
                  alt="Imagem do Produto"
                />
              </div>
  
              <div class="produto__textos">
                <p class="produto__titulo">{{ produto.nome }}</p>
                <div class="produto__preco">
                  <p class="produto__avista">R$ {{ produto.preco }}</p>
                </div>
              </div>
            </a>
            {% endfor %}
          </div>
      </div>

    </section>
  </main>
  
{% endblock %}