{% load static %}
<footer class="rodape" id="contato">

    <div class="rodape-div">
        <div class="rodape-div-1">
            <div class="rodape-div-1-coluna">
                <img src="{% static 'images/logo.png' %}" alt="Logo" class="logo-imagem"/>
            </div>
        </div>
        <hr>
        <div class="rodape-div-2">
            <div class="rodape-div-2-coluna">
                <!-- elemento -->
                <p></p>
                <br>
                <a href="https://www.instagram.com/croche.nah/" class="footer-link">
                    <img src="{% static 'images/instagram.png' %}" alt="Insta" class="footer-imagem"/>
                    <p>croche.nah</p>
                </a>
                <br>
                <br>
                <a href="https://crochetiandonani.blogspot.com/" class="footer-link">
                    <img src="{% static 'images/blogspot.png' %}" alt="Blog" class="footer-imagem"/>
                    <p>crochetiandonani</p>
                </a>

            </div>
        </div>

        
                <img src="{% static 'images/img-footer.jpg' %}" alt="banner" class="footer-banner"/>
           
        </div>
    </div>
</footer>
