{% extends 'base.html' %}
{% load static %}



{% block body %}

<section class="sobre">
    <div class="sobre-container">
        <h1 class="sobre-titulo">Crochetiando Nani</h1>
        <p class="sobre-texto">
            Este site nasceu da paixão por transformar fios e agulhas em peças que carregam o carinho de um trabalho artesanal e único. Movida por um amor antigo pelo crochê, a fundadora decidiu transformar esse hobby em um negócio para compartilhar suas criações com mais pessoas. Cada produto é feito cuidadosamente à mão, pensado para trazer beleza e aconchego ao dia a dia dos clientes.
        </p>
        <p class="sobre-texto">
            A ideia de empreender no ramo do crochê surgiu ao perceber que, em meio à rotina corrida, muitos buscam objetos que transmitam um toque de acolhimento. Além disso, essa jornada também se baseia no compromisso de manter viva a tradição do crochê e valorizar o trabalho manual, em cada detalhe e ponto criado com dedicação.
        </p>
        <p class="sobre-texto">
            A missão do site é levar essas peças especiais a quem valoriza a beleza do artesanato, proporcionando não apenas um produto, mas uma experiência de cuidado e autenticidade.
        </p>
    </div>
</section>

{% endblock %}
